:root {
    --primary: #4D96A9;
    --primary-hover: #71C0D4;
    --primary-extra-color: #8FE3F9;
    --secondary: #855FB1;
    --secondary-hover: #B18BDD;
    --secondary-extra-color: #D9B8FF;
    --heading-color: #28283D;
    --text-color: #87879D;
    --white: #FAFAFA;
}

* {
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

body{
    margin: 0;
}

header{
    display: flex;
    justify-content: center;
    padding: 24px;
}

.card-1 .img-container{
    display: flex;
    justify-content: center;
    gap: 16px;
    overflow: clip;
}

.card-1 img{
    width: 199px;
    height: 153px;
}

.card-1 .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 327px;
    margin-left: auto;
    margin-right: auto;
}

.card-1 h1{
    text-align: center;
}

.card-1 .subheader{
    text-align: center;
    padding-bottom: 32px;
}

.card-1 .download-btn{
    margin-bottom: 16px;
}

.card-1 svg{
    height: 140px;
    margin-top: 64px;
    width: 56px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 64px;
}

.card-1-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.download-btn, .info-btn, .footer-download-button{
    height: 58px;
    border-radius: 29px;
    border: 0;
    color: var(--white);
    font-weight: 900;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
}

.download-btn:hover, .info-btn:hover, .download-btn:focus, .info-btn:focus, .footer-download-button:hover, .footer-download-button:focus {
    cursor: pointer;
}

.download-btn {
    width: 193px;
    background-color: var(--primary);
}

.download-btn:hover, .download-btn:focus {
    background-color: var(--primary-hover);
}
.download-btn span {
    color: var(--primary-extra-color);
}

.info-btn {
    width: 139px;
    background-color: var(--secondary);
}

.info-btn:hover, .info-btn:focus, .footer-download-button:hover, .footer-download-button:focus {
    background-color: var(--secondary-hover);
}

.card-2 {
    max-width: 375px;
    margin: auto;
}

.card-2-text {
    text-align: center;
    font-family: "Red Hat Display", sans-serif;
    width: 327px;
    margin: 0 24px 64px 24px;
}

.card-2-image-collection {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 327px;
    justify-content: center;
    margin: 0 24px 64px 24px;
}

.img-man-texting, .img-men-meeting, .img-woman-videocall, .img-women-videochatting {
    border-radius: .5rem;
    height: 143px;
    width: 151px;
}

.img-woman-videocall {
    margin: 0 25px 25px 0;
}

.img-men-meeting {
    margin-right: 25px;
}

.card-2-heading {
    font-size: 32px;
    color: var(--heading-color);
    margin: 0 24px 32px 24px;
    font-weight: 900;
}

.card-2-subheading, .card-2-paragraph {
    font-size: 1rem;
    line-height: 26px;
}

.card-2-subheading {
    color: var(--primary);
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 24px;
    font-weight: 900;
}

.card-2-paragraph {
    color: var(--text-color);
    margin-bottom: 64px;
    font-weight: 500;
}

.icon-path-2 {
    justify-content: center;
    align-content: center;
    margin-left: 159px;
}

  
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 428px;
    width: 375px;
    background-image: url("assets/mobile/image-footer.jpg");
    box-shadow: inset 0 0 0 1000px rgba(77, 150, 169, .8);
    background-size: 100%;
    flex-direction: column;
    margin: auto;
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
    /*position: relative;*/
}

/*!*.footer-overlay {*!*/
/*!*    background-color: rgba(77, 150, 169, 80%);*!*/
/*!*    position: absolute;*!*/
/*!*    width: 100%;*!*/
/*!*    height: 100%;*!*/
/*}*/

.footer-h2 {
    color: var(--white);
    font-size: 32px;
    text-align: center;
    font-weight: 900;
    line-height: 36px;
    margin: 0;
    margin-bottom: 24px;
}

.footer-p {
    color: var(--white);
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
    margin-bottom: 32px;
}

.footer-download-button {
    background-color: var(--secondary);
    width: 193px;
}

.footer-download-button span {
    color: var(--secondary-extra-color);
}
